
body {
  
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240913/pngtree-stunning-red-and-blue-smoke-images-for-download-image_16191211.jpg");
        background-color: #e9f8ff; 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}


.calculator {
    width: 300px;
    padding: 25px;
    background: #b8eaff;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.18);
}


.screen {
    width: 100%;
    height: 70px;
    background: #e5f9ff;
    color: #000;
    font-size: 35px;
    text-align: right;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-family: "Digital-7 Mono", monospace;
    overflow: hidden;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


button {
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    background: #44c6ff;
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: transform .15s, background .2s;
}


button.light {
    background: #85ddff;
}

button:active {
    transform: scale(0.88);
}

button:hover {
    background: #1db1ff;
}
button.light:hover {
    background: #a6e4ff;
}

button.equals {
    background: #ff9500;
}